/* Hero Section Start*/
.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40.76px;
  margin-bottom: 100px;
}
.main__description {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-50);
  color: var(--color-darker-bluishblack);
  line-height: 70px;
  margin-bottom: 20px;
}
.main__description span {
  font-weight: var(--font-weight-700);
}
.img__hero-section {
  width: 611.24px;
}
.info__hero-section {
  color: var(--color-bluishblack);
  line-height: 30px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-16);
  width: 555px;
  margin-bottom: 50px;
}
.info__hero-section span {
  font-weight: var(--font-weight-500);
}

.start-button {
  text-decoration: none;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-16);
  color: white;
  background-color: var(--color-red);
  padding: 17.5px 77.5px;
  border-radius: 10px;
  box-shadow: 19.09px 25.29px 54px rgba(245, 56, 56, 0.35);
  border: 1px solid transparent;
  transition: background-color 0.1s ease-in-out;
}
.start-button:hover,
.start-button:active {
  background-color: white;
  border: 1px solid var(--color-red);
  color: var(--color-red);
}
/* stats card */
.stats {
  display: flex;
  gap: 10px;
  padding: 72.5px;
  align-items: center;
  margin-bottom: 95.83px;
  width: 1140px;
  height: 200px;
  box-shadow: 35.58px 52.8px 114px rgba(13, 16, 37, 0.1);
  border-radius: 10px;
}
.stat {
  display: flex;
  gap: 36.5px;
  align-items: center;
}
.stat-icon {
  width: 55px;
}
.num-stat {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-25);
  color: var(--color-darker-bluishblack);
  margin-bottom: 5px;
}
.stat-name {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-20);
  color: var(--color-bluishblack);
}
.stats-section {
  min-width: 100%;

  position: relative;
}
.stats li:nth-child(2) {
  border-right: 2px solid var(--color-light-grey);
  border-left: 2px solid var(--color-light-grey);
  padding-left: 113px;
  padding-right: 134.5px;
  margin-left: 129px;
  margin-right: 91.5px;
  height: 125.573486328125px;
}

/* Hero Section End*/
