/*root*/
:root {
  --color-red: #f53838;
  --color-red-bright: #f53855;
  --color-bluishblack: #4f5665;
  --color-darker-bluishblack: #0b132a;
  --color-light-grey: #eeeff2;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-25: 1.5625rem;
  --font-size-35: 2.1875rem;
  --font-size-50: 3.125rem;
}
/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}
